/* Coolors Exported Palette - coolors.co/e9d758-297373-ff8552-e6e6e6-39393a */

/* HSL */
$color1: hsla(53%, 77%, 63%, 1);
$color2: hsla(180%, 47%, 31%, 1);
$color3: hsla(18%, 100%, 66%, 1);
$color4: hsla(0%, 0%, 90%, 1);
$color5: hsla(240%, 1%, 23%, 1);

/* RGB */
$color1: #f8e9a1;
$color2: #f76c6c;
$color3: #A8d0E6;
$color4: #374785;
$color5: #23305E;

/* RGB */
$color1: #17252a;
$color1: #05386b;
$color2: #379662;
$color3: #3aafa9;
$color4: #def2f1;
$color5: #feffff;